.container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}
.title{
    width: 50%;
}
.title > p{
    color: #8795a1
}
.button{
    width: 50%;
    text-align: right;
}

