.primary{
    display: flex;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%), 0 2px 4px 0 rgb(0 0 0 / 8%);
    flex-wrap: wrap;
    padding: 8px;
    background-color: white;
}
.secondary{
    display: none;
}

@media only screen and (max-width: 768px) {
    .primary{
        display: none;
    }
    .secondary{
        display: flex;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%), 0 2px 4px 0 rgb(0 0 0 / 8%);
        flex-wrap: wrap;
        padding: 8px;
        background-color: white;
    }

}