.holder{
    width: 50%;
    padding: 0 20px;
    background-color: white;
    border-radius: 4px;
}
.title{
    margin: 10px 0;
}
.table{
    line-height: 40px;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
.head{
    color: #6574cd;

}
.row{
    border-bottom: 1px solid #dae1e7;
}

.center{
    text-align: center;

}

.right{
    text-align: right;
}

.second{
    width: 50%;
}
@media (max-width: 768px) {
    .holder{
        width: 100%;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%), 0 2px 4px 0 rgb(0 0 0 / 8%);
    }
}