.holder{
    width: 50%;
    padding-left: 20px;
}
.table{
    line-height: 30px;
    width: 100%;
    border-collapse: collapse;

}
.head{
    color: #6574cd;

}
.row{
    border-bottom: 1px solid #dae1e7;
}

.center{
    text-align: center;
}
.right{
    text-align: right;
}

.second{
    width: 50%;
}
@media (max-width: 900px) {
    .holder{
        width: 100%;
    }
}