.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    padding: 24px 0 32px;
}
.cover{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%), 0 2px 4px 0 rgb(0 0 0 / 8%);
    padding-bottom: 25px;
}
.cover > img{
    margin: 0 12px;
    padding: 20px 20px 0;
    width: 35%;
}
.cover:hover{
    transform: translateY(-1.5px);
    transition: all 0.3s ease-in-out;
}
.info{
    display: flex;
    flex-direction: column;
    width: 66.66667%;
    margin: 4px 0 0 8px;
    padding-right: 10px;
    font-size: 14px;
}
.babyBlue{
    background-color: #D0E3E8;
}
.pink{
    background-color: #F1CECD;
}
.orange{
    background-color: #FBC164;
}
.offWhite{
    background-color: #ECE7E9;
}