.container{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}
.status{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.container > img{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%);
    width: 100%;
}
.container:hover{
    transform: translateY(-1.5px);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: all 0.3s ease-in-out;
}


.container > p {
    font-size: 14px;
}

label{
    border: 0 solid transparent;
    width: fit-content;
    border-radius: 25px;
    font-size: 13px;
    padding: 3px 18px;
    color: white;
}
.finished{
    background-color: #6574CD;
}
.loaned{
    background-color: #C4CDD5;
}
.started{
    background-color: #FFC48B;
}
.reading{
    background-color: #FDAC9A;
}
.info > p{
    display: none;
}

.info > Select{
    border: 3px solid #dae1e7;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 9%);
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
    outline-offset: -78px;
}
.info > Select:focus-visible {
    box-shadow: 0 0 0 2px rgb(52 144 220 / 30%);
}
.info > Select:hover {
    border-color: #b8c2cc;
}

@media only screen and (max-width: 580px) {
    .container{
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    .container > img{
        width: 35%;
    }
    label{
        display: none;
    }
    .info{
        display: flex;
        flex-direction: column;
        width: 62%;
        padding: 5px;
        font-size: 14px;
    }
    .info > p{
        display: flex;
    }
    .info > Select{
        border: 3px solid #dae1e7;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 9%);
        font-size: 16px;
        border-radius: 5px;
        padding: 5px;
        outline-offset: -78px;
    }
    .info > Select:focus-visible {
        box-shadow: 0 0 0 2px rgb(52 144 220 / 30%);
    }
    .info > Select:hover {
        border-color: #b8c2cc;
    }
    .container > p,label{
        display: none;
    }
}