.container{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 20px;

}

.container > img{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%);
    transition: all 0.3s ease-in-out;
    width: 100%;
}
.container > img:hover{
    transform: translateY(-1.5px);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
}


.container > p {
    font-size: 14px;
}

label{
    border: 0 solid transparent;
    width: fit-content;
    border-radius: 25px;
    font-size: 13px;
    padding: 3px 18px;
    color: white;
}
.finished{
    background-color: #6574CD;
}
.loaned{
    background-color: #C4CDD5;
}
.started{
    background-color: #FFC48B;
}
.reading{
    background-color: #FDAC9A;
}
@media only screen and (max-width: 580px) {
    .container{
        width: 100%;
        flex-direction: row;
    }
    .container > img{
        width: 35%;
    }
    label{
        display: none;
    }
}